body{
    background-color: #e3e3e3;
}
#cabecalho{
    padding: 10px 50px;
    color: white;
    background-color: #2a008b;
}
#cabecalho .Titulo{text-align: justify;}
#estrutura{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
}
#estrutura .palavra{text-align: justify;}
#estrutura #menu ul{
    padding: 0px;
    margin: 0px;
}
#estrutura #menu li{
    list-style: none;
    display: inline-block;
    width: 196px;
    text-align: center;
    padding: 0px 0px;
}
#estrutura #menu a{
    font-family: arial;
    font-size: 11pt;
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: #2a008b;
    width: 100%;
    display: inline-block;
    padding: 8px 0px;
}
#estrutura #menu a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: white;
    color: #2a008b;
}
#estrutura #menu a.atual{ /*item do menu selecionado*/
    background-color: white;
    color: #2a008b;
}
#estrutura img{width: 900px; height: 400px;}
#rodape{
    text-align: center;
    color: white;
    background-color: #2a008b;
    padding: 10px 30px;
}
@media screen and (max-width: 700px){
    #estrutura{width: 100%; padding: 1px 0px;}
    #estrutura #menu li{width: 100%;}
    #estrutura img{width: 320px; height: 200px;}
}